*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

html{
    scroll-behavior: smooth;
}


/* .............................................Header............................................... */
header{
    position: sticky;
    top: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: 15vh;
    padding: 0 10px;
    gap: 10px;
}

a{
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-weight: bold;
}

a:hover{
    color: orange;
    cursor: pointer;
}

/* .....................................................Hero................................................................. */

.hero-section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(./images/WhatsApp\ Image\ 2025-10-28\ at\ 12.28.57_52dfabdd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    gap: 10px;
    
}


button{
    padding: 10px 20px;
    margin: 2rem;
    font-size: 1rem;
    width: 150px;
    background-color: orange;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-section p{
    font-size: 1.5rem;
    color: white;
    font-weight: bolder;
   
}

.hero-section h1{
    font-size: 5vw;
    color: white;
    font-weight: bolder;
}

span{
    font-size: 70px;
    color: orange;
}

/* ..........................................................About........................................ */
#about{
    background-color: whitesmoke;
    padding: 20px;
}

/* 
#about .about-section{
    display: flex;
    align-items: center;
    gap: 10px;  
} */

.about-section article{
    display: flex;
    flex-direction: column;
} 

.about-section img{

}

.about-section button{
    margin-left: 0;

}

#about h2{
    padding: 20px;
    text-align: center;
    margin: 20px;
}

/* .......................................Courses................................................................ */
#courses{
    padding: 20px;
    
}

h2{
    display: inline-block;
    border-bottom: 3px solid green;
    padding-left: 80px;
    padding-right: 50px;
    padding-bottom: 10px;
    position: relative;
}

h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;
    height: 4px;
    
}




.courses-section{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    margin: 20px;
    
}

.card{
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    text-align: center;
}

/* .....................................Contact Us.................................................. */

#contact{
    height: 100vh;
    padding: 20px;
    margin: 20px;
   
}

.contact-container{
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin: 30px;
    padding: 20px;
}


.contact-container div{
    height: 70vh;
    width: 30%;
}


#about,#contact,#gallery,.partners,#courses{
    box-shadow: 0 6px 20px rgba(0, 0, 0, 250);
    text-align: center;
}


.info i{
    color: red;
}

.info{
    border: 1px solid black;
    padding: 10px;
}

.info p{
    text-align: center;
    padding: 30px;
    /* margin: 20px; */
}

label{
    font-weight: 600;
}

.form{
    text-align: center;
    margin: 20px;
    padding: 30px;
}

.form button{
    background-color: green;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    width: 80px;
    
}

/* .................................................Gallery................................................... */
#gallery{
    padding: 20px;
}


#gallery h2{
    text-align: center;
    margin: 20px;

}

.gallery-section{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: whitesmoke;

}

.testimonial{
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    text-align: center;
}

.testimonial img{
    border-radius: 50%;
    
}
/* ...........................................Partners........................................................................ */
.partners{
    padding: 20px;
}

.partners h2{
    text-align: center;
    margin: 20px;
}

.partners img{
    margin: 5px 60px;
    padding: 10px;
}

.social-media i{
    font-size: 30px;
    /* margin: 0 15px; */
    margin-right: 10px;
    
}

.footer-contact{
    padding: 20px;
    text-align: center;
    margin: 20px;
    background-color: green;
    height: 30vh;

}

hr{
    border: 2px solid white;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
}

#footer p{
    color: white;
    /* margin-bottom: 5px; */
}